{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Decrypt Your Text</legend>
                {{ text|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Your Decrypted Text:</legend>
            <h2 class="border-bottom mb-4">{{ decrypt }}</h2>
        </fieldset>
    </div>
{% endblock content %}